<site name="Default Web Site" id="1" serverAutoStart="true">
    <application path="/">
        <virtualDirectory path="/" physicalPath="%SystemDrive%\inetpub\wwwroot" />
        <virtualDirectory path="/Common" physicalPath="%CURRENT_WATTSPATH%\Common" />
        <virtualDirectory path="/BackEnd" physicalPath="%CURRENT_WATTSPATH%\BackEnd" />
        <virtualDirectory path="/Administration" physicalPath="%CURRENT_WATTSPATH%\Administration" />
        <virtualDirectory path="/Product" physicalPath="%CURRENT_WATTSPATH%\Product" />
        <virtualDirectory path="/Framework" physicalPath="%CURRENT_WATTSPATH%\Framework" />
        <virtualDirectory path="/CustomerManagement" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement" />
        <virtualDirectory path="/CustomerAdministration" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration" />
        <virtualDirectory path="/CorporateLevelManagement" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement" />
        <virtualDirectory path="/CorporateLevelAdministration" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration" />
        <virtualDirectory path="/MerchantManagement" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement" />
        <virtualDirectory path="/MerchantAdministration" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration" />
        <virtualDirectory path="/MaintenanceServiceManagement" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement" />
        <virtualDirectory path="/MaintenanceServiceAdministration" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration" />
        <virtualDirectory path="/Authorization" physicalPath="%CURRENT_WATTSPATH%\Authorization" />
        <virtualDirectory path="/Sunnel" physicalPath="%CURRENT_WATTSPATH%\Sunnel" />
        <virtualDirectory path="/Teste" physicalPath="D:\TFS\Watts\DES\Teste" />
        <virtualDirectory path="/Framework/Facade" physicalPath="C:\Git\EWB\Watts\Framework\Facade\Services" />
    </application>
    <application path="/MSMQ" applicationPool="DefaultAppPool">
        <virtualDirectory path="/" physicalPath="C:\inetpub\wwwroot\msmq" />
    </application>
    <application path="/Common/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Facade" />
    </application>
    <application path="/Common/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Business\Services\Inquiry" />
    </application>
    <application path="/Common/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Business\Services\Maintenance" />
    </application>
    <application path="/Common/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/Common/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Data\Services\Inquiry" />
    </application>
    <application path="/Common/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Common\Data\Services\Maintenance" />
    </application>

    <application path="/Administration/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Facade" />
    </application>
    <application path="/Administration/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Business\Services\Inquiry" />
    </application>
    <application path="/Administration/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Business\Services\Maintenance" />
    </application>
    <application path="/Administration/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/Administration/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Data\Services\Inquiry" />
    </application>
    <application path="/Administration/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Administration\Data\Services\Maintenance" />
    </application>

    <application path="/Product/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Facade" />
    </application>
    <application path="/Product/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Business\Services\Inquiry" />
    </application>
    <application path="/Product/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Business\Services\Maintenance" />
    </application>
    <application path="/Product/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/Product/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Data\Services\Inquiry" />
    </application>
    <application path="/Product/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Product\Data\Services\Maintenance" />
    </application>

    <application path="/CustomerManagement/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Facade" />
    </application>
    <application path="/CustomerManagement/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Business\Services\Inquiry" />
    </application>
    <application path="/CustomerManagement/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Business\Services\Maintenance" />
    </application>
    <application path="/CustomerManagement/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/CustomerManagement/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Data\Services\Inquiry" />
    </application>
    <application path="/CustomerManagement/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerManagement\Data\Services\Maintenance" />
    </application>

    <application path="/CustomerAdministration/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Facade" />
    </application>
    <application path="/CustomerAdministration/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Business\Services\Inquiry" />
    </application>
    <application path="/CustomerAdministration/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Business\Services\Maintenance" />
    </application>
    <application path="/CustomerAdministration/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/CustomerAdministration/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Data\Services\Inquiry" />
    </application>
    <application path="/CustomerAdministration/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CustomerAdministration\Data\Services\Maintenance" />
    </application>

    <application path="/CorporateLevelManagement/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Facade" />
    </application>
    <application path="/CorporateLevelManagement/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Business\Services\Inquiry" />
    </application>
    <application path="/CorporateLevelManagement/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Business\Services\Maintenance" />
    </application>
    <application path="/CorporateLevelManagement/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/CorporateLevelManagement/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Data\Services\Inquiry" />
    </application>
    <application path="/CorporateLevelManagement/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelManagement\Data\Services\Maintenance" />
    </application>

    <application path="/CorporateLevelAdministration/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Facade" />
    </application>
    <application path="/CorporateLevelAdministration/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Business\Services\Inquiry" />
    </application>
    <application path="/CorporateLevelAdministration/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Business\Services\Maintenance" />
    </application>
    <application path="/CorporateLevelAdministration/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/CorporateLevelAdministration/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Data\Services\Inquiry" />
    </application>
    <application path="/CorporateLevelAdministration/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\CorporateLevelAdministration\Data\Services\Maintenance" />
    </application>

    <application path="/MerchantManagement/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Business\Services\Inquiry" />
    </application>
    <application path="/MerchantManagement/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Business\Services\Maintenance" />
    </application>
    <application path="/MerchantManagement/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/MerchantManagement/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Data\Services\Inquiry" />
    </application>
    <application path="/MerchantManagement/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Data\Services\Maintenance" />
    </application>
    <application path="/MerchantManagement/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantManagement\Facade" />
    </application>

    <application path="/MerchantAdministration/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Facade" />
    </application>
    <application path="/MerchantAdministration/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Business\Services\Inquiry" />
    </application>
    <application path="/MerchantAdministration/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Business\Services\Maintenance" />
    </application>
    <application path="/MerchantAdministration/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/MerchantAdministration/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Data\Services\Inquiry" />
    </application>
    <application path="/MerchantAdministration/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MerchantAdministration\Data\Services\Maintenance" />
    </application>

    <application path="/MaintenanceServiceManagement/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Business\Services\Inquiry" />
    </application>
    <application path="/MaintenanceServiceManagement/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Business\Services\Maintenance" />
    </application>
    <application path="/MaintenanceServiceManagement/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/MaintenanceServiceManagement/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Data\Services\Inquiry" />
    </application>
    <application path="/MaintenanceServiceManagement/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Data\Services\Maintenance" />
    </application>
    <application path="/MaintenanceServiceManagement/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceManagement\Facade" />
    </application>

    <application path="/MaintenanceServiceAdministration/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Facade" />
    </application>
    <application path="/MaintenanceServiceAdministration/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Business\Services\Inquiry" />
    </application>
    <application path="/MaintenanceServiceAdministration/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Business\Services\Maintenance" />
    </application>
    <application path="/MaintenanceServiceAdministration/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/MaintenanceServiceAdministration/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Data\Services\Inquiry" />
    </application>
    <application path="/MaintenanceServiceAdministration/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\MaintenanceServiceAdministration\Data\Services\Maintenance" />
    </application>

    <application path="/BackEnd/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Facade" />
    </application>
    <application path="/BackEnd/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Data\Services\Inquiry" />
    </application>
    <application path="/BackEnd/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Data\Services\Maintenance" />
    </application>
    <application path="/BackEnd/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Business\Services\Inquiry" />
    </application>
    <application path="/BackEnd/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Business\Services\Maintenance" />
    </application>
    <application path="/BackEnd/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\Business\Services\MaintenanceWorkflow" />
    </application>

    <application path="/Authorization/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Business\Services\Inquiry" />
    </application>
    <application path="/Authorization/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Business\Services\Maintenance" />
    </application>
    <application path="/Authorization/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/Authorization/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Data\Services\Inquiry" />
    </application>
    <application path="/Authorization/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Data\Services\Maintenance" />
    </application>
    <application path="/Authorization/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Authorization\Facade" />
    </application>

    <application path="/Sunnel/Business/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Business\Services\Inquiry" />
    </application>
    <application path="/Sunnel/Business/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Business\Services\Maintenance" />
    </application>
    <application path="/Sunnel/Business/MaintenanceWorkflow" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Business\Services\MaintenanceWorkflow" />
    </application>
    <application path="/Sunnel/Data/Inquiry" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Data\Services\Inquiry" />
    </application>
    <application path="/Sunnel/Data/Maintenance" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Data\Services\Maintenance" />
    </application>
    <application path="/Sunnel/Facade" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Sunnel\Facade" />
    </application>
    <application path="/WCFCallbacks/Singleton" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="D:\Projetos\Tests\WCFCallbacks\Singleton" />
    </application>
    <application path="/BackEnd/ISO8583/Gateway" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\ISO8583\Gateway" />
    </application>
    <application path="/RfiDb" applicationPool="DefaultAppPool">
        <virtualDirectory path="/" physicalPath="D:\Projetos\RFIDb\3.5\ProjetoRFI\ProjetoRFI" />
    </application>
    <application path="/Teste/Facade" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="D:\TFS\Watts\DES\Teste\Facade" />
    </application>
    <application path="/BackEnd/CMS" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\CMS" />
    </application>
    <application path="/BackEnd/CMS/Loader" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\BackEnd\CMS.Loader" />
    </application>
    <application path="/Framework/Business/ServiceLocator" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Business\Services\ServiceLocator" />
    </application>
    <application path="/Framework/Business/Token" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Business\Services\Authorization" />
    </application>
    <application path="/Framework/Business/Config" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Business\Services\Config" />
    </application>
    <application path="/Framework/Business/Authorization" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Business\Services\Authorization" />
    </application>
    <application path="/Framework/Data/ServiceLocator" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Data\Services\ServiceLocator" />
    </application>
    <application path="/Framework/Data/Config" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Data\Services\Config" />
    </application>
    <application path="/Framework/Data/Mapper" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Data\Services\Mapper" />
    </application>
    <application path="/Framework/Data/Token" applicationPool="Desenvolvedor" enabledProtocols="http,net.tcp,net.pipe">
        <virtualDirectory path="/" physicalPath="%CURRENT_WATTSPATH%\Framework\Data\Services\Token" />
    </application>
    <application path="/webTestIIS" applicationPool="Desenvolvedor">
        <virtualDirectory path="/" physicalPath="%SystemDrive%\inetpub\wwwroot\webTestIIS" />
    </application>
    <application path="/WcfServiceTest">
        <virtualDirectory path="/" physicalPath="%SystemDrive%\inetpub\wwwroot\WcfServiceTest" />
    </application>
    <application path="/Framework/Facade/Config" applicationPool="DefaultAppPool">
        <virtualDirectory path="/" physicalPath="C:\Git\EWB\Watts\Framework\Facade\Services\Config" />
    </application>
    <bindings>
        <binding protocol="http" bindingInformation="*:80:" />
        <binding protocol="net.tcp" bindingInformation="808:*" />
        <binding protocol="net.msmq" bindingInformation="localhost" />
        <binding protocol="msmq.formatname" bindingInformation="localhost" />
        <binding protocol="net.pipe" bindingInformation="*" />
    </bindings>
    <traceFailedRequestsLogging enabled="true" />
</site>